.about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
  @media (max-width: $bp-large) {
  }
  &__box {
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    @media (max-width: $bp-large) {
      flex-direction: column;
      row-gap: 5rem;
      max-width: 65rem;
    }
    @media (max-width: $bp-tiny) {
      max-width: 55rem;
    }
  }

  &__content {
    width: 50%;
    @media (max-width: $bp-large) {
      width: 100%;
    }
    &_text {
      font-size: 1.5rem;
      color: grey;
    }
  }

  &__photo__container {
    position: relative;
    width: 50%;
    height: 100%;
    @media (max-width: $bp-large) {
      width: 100%;
      height: 15rem;
    }
  }

  &__photo {
    height: 17.5rem;
    display: block;
    position: absolute;
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);
    cursor: pointer;
    object-fit: cover;
    transition: all 0.3s;
    @media (max-width: $bp-large) {
      height: 15rem;
    }
    &:hover {
      border-radius: 5px;

      transform: scale(1.15) translateY(-0.5rem);
      outline: 1.5rem solid $color-primary;
      outline-offset: 1.5rem;
      z-index: 5;
      @media (max-width: $bp-large) {
        transform: scale(1.1) translateY(0);
        outline: 1rem solid $color-primary;
        outline-offset: 1rem;
        border-radius: 3px;
      }
    }
    &--1 {
      right: 0;
      top: 2rem;
    }
    &--2 {
      left: 2rem;
      top: -2rem;
      @media (max-width: $bp-large) {
        left: 0;
        top: 2rem;
      }
    }
    &--3 {
      right: 15rem;
      top: 10rem;
      @media (max-width: $bp-large) {
        top: 0;
        left: 21rem;
      }
      @media (max-width: $bp-tiny) {
        left: 16rem;
      }
    }
  }

  &__photo__container:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
