/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// Media query
$bp-ex-big: 175em; //2800px
$bp-gigantic: 150em; //2400px
$bp-huge: 125em; //2000px
$bp-biggest: 100em; //1600px
$bp-big: 75em; // 1200px
$bp-largest: 62.5em; // 1000px
$bp-large: 56.25em; // 900px
$bp-medium: 50em; //  // 800 px
$bp-small: 37.5em; // 600px
$bp-tiny: 28.5em; // 450px

//
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  @media (max-width: $bp-gigantic) {
    font-size: 87.5%;
  }
  @media (max-width: $bp-gigantic) {
    font-size: 75%;
  }
  @media (max-width: $bp-huge) {
    font-size: 62.5%;
  }
  @media (max-width: $bp-big) {
    font-size: 50%;
  }
  @media (max-width: $bp-medium) {
    font-size: 42.5%;
  }
  @media (max-width: $bp-small) {
    font-size: 37.5%;
  }
  @media (max-width: $bp-tiny) {
    font-size: 35%;
  }
  box-sizing: border-box;
}

body {
  // position: relative;
  background-color: #fff;
  padding: 3rem;
  font-weight: 400;
  font-family: "lato", sans-serif;
  line-height: 1.7;

  @media (max-width: $bp-largest) {
    padding: 0;
  }
}
