.section {
  transition: all 0.5s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

//////////////////////////// SLIDE

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);
  z-index: 9999;

  box-sizing: border-box;

  transition: all 1s;
}

.slider__container {
  z-index: 9999;
  position: fixed;
  inset: 0;
  margin: auto;
  width: 60%;
  height: 80vh;
  display: grid;
  place-items: center;

  transition: all 0.35s 0.1s;
}

@media screen and (max-width: 800px) {
  .slider__container {
    width: 90%;
  }
}

.element--hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.75);
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: transform 1s;
}

.img__slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img__numb {
  font-size: 3rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: orange;
  display: inline-block;
  background-color: #fff;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;

  display: grid;
  place-items: center;
}

.icon__slide {
  color: #222;
  font-size: 2rem;
}
.slide__button {
  cursor: pointer;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  opacity: 0.65;
}

.slide__button--right {
  right: 2rem;
}

.slide__button--left {
  left: 2rem;
}

.dots__container {
  position: absolute;
  bottom: 7.5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
  display: flex;
  gap: 2rem;
}

.dot__child {
  border: none;
  cursor: pointer;
  border: none;
  width: 1rem;
  height: 1rem;
  background-color: #787878;
  border-radius: 50%;

  transition: all 0.5s;

  &:focus {
    outline: none;
  }
}

.dot__child--active {
  background-color: #fff;
}
