.booking {
  &__section {
    padding: 15rem 0 15rem 0;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
  }
  &__box {
    max-width: 115rem;
    margin: 0 auto;
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 55%,
        transparent 55%
      ),
      url(../img/nat-10.jpg);
    // background-image: url(../img/nat-10.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);
    @media (max-width: $bp-largest) {
      max-width: 100rem;
    }
    @media (max-width: $bp-large) {
      max-width: 60rem;
      background-image: linear-gradient(
          105deg,
          rgba($color-white, 0.9) 0%,
          rgba($color-white, 0.9) 55%,
          rgba($color-white, 0.9) 55%
        ),
        url(../img/nat-10.jpg);
    }
  }
}

.book {
  width: 50%;
  height: 100%;
  padding: 6rem;
  @media (max-width: $bp-large) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__form {
    margin-top: 4rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__group {
      // width: 100%;
      &--size {
        display: flex;
        column-gap: 4rem;
        row-gap: 1.25rem;
        flex-wrap: wrap;
        @media (max-width: $bp-large) {
          flex-direction: column;

          row-gap: 2rem;
        }
      }
    }
    &--input {
      display: block;
      width: 100%;
      padding: 1.5rem;
      border: none;
      border-bottom: 3px solid transparent;

      transition: all 0.35s;

      &:focus {
        outline: none;
        border-bottom: 3px solid $color-primary;
        box-shadow: 0 1.5rem 3rem rgba($color: #000000, $alpha: 0.15);
      }
      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }
    &__radio--group {
      display: inline-block;
    }
    &__radio--input {
      display: none;
    }

    &__radio--label {
      cursor: pointer;

      padding: 0 0 0 4rem;

      font-size: 1.5rem;
      position: relative;
    }
    &__radio--btn {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      border: 0.5rem solid $color-primary;
      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      &::before {
        content: "";
        display: inherit;
        width: 1.1rem;
        height: 1.1rem;
        border-radius: 50%;
        background-color: $color-primary;

        position: absolute;
        inset: 0;
        margin: auto;
        opacity: 0;

        transition: all 0.3s;
      }
    }
    &__radio--input:checked ~ &__radio--label &__radio--btn::before {
      opacity: 1;
    }
    &--label {
      display: block;
      width: calc(100% - 1.5rem);
      margin-left: 1.5rem;
      margin-top: 0.8rem;
      font-weight: 700;
      font-size: 1.25rem;
      color: $color-grey-dark-3;
      // transform: translateY(0);

      opacity: 1;
      visibility: visible;

      transition: all 0.35s;
    }
    &--input:placeholder-shown ~ &--label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4.25rem);
    }
  }
}
