.feature {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);

  background-position: center;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
  &__container {
    transform: skewY(7deg);
    max-width: 120rem;
    margin: 0 auto;
    display: flex;

    gap: 5rem;
    @media (max-width: $bp-largest) {
      flex-direction: column;
      align-items: center;
      row-gap: 8rem;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    opacity: 0.8;
    padding: 2.5rem;
    align-items: center;
    transition: all 0.25s;

    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);
    border-radius: 5px;

    @media (max-width: $bp-largest) {
      width: 50rem;
    }
    &:hover {
      transform: translateY(-1rem) scale(1.05);
    }
  }

  &__icon {
    font-size: 7rem;
    background-image: linear-gradient(
      to right,
      $color-primary,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  &__text {
    font-size: 1.5rem;
    text-align: center;
    color: $color-grey-dark;
  }
}

// background-blend-mode: screen;
// box-decoration-break: clone;
