.footer {
  color: $color-grey-light-1;
  padding: 10rem 0;
  background-color: $color-grey-dark-3;
  text-align: center;
  &__logo {
    margin-bottom: 10rem;
  }
  &__content {
    max-width: 120rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    @media (max-width: $bp-largest) {
      flex-direction: column;
      max-width: 70rem;
      row-gap: 3rem;
    }
  }
  &__left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 40%;
    @media (max-width: $bp-largest) {
      width: 100%;
      justify-content: center;
    }
  }

  &__navigation {
    grid-column: 1 / 2;

    column-gap: 1.5rem;
    padding-top: 1.25rem;
    border-top: 1px solid rgba($color-grey-light-1, $alpha: 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  &__item {
    list-style: none;
    display: inline-block;
  }
  &__link,
  &__name {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 400;
    display: inline-block;
    transition: all 0.35s;
    text-transform: uppercase;
    &:hover {
      color: $color-primary;
      box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);
      transform: rotate(5deg) scale(1.3);
    }
  }
  &__name {
    padding: 0;
  }
  &__description {
    grid-column: 3 / 4;
    padding-top: 1.25rem;

    text-align: left;
    font-size: 1.5rem;
    border-top: 1px solid rgba($color-grey-light-1, $alpha: 0.5);
    width: 40%;

    @media (max-width: $bp-largest) {
      text-align: center;
      width: 100%;
    }
  }
}
