.header {
  opacity: 1;
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);

  background-position: top;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo {
  height: 3.5rem;
  position: absolute;
  top: 3.5rem;
  left: 3.5rem;
  animation: moveInRight 1s ease-out;
}

.intro {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__title,
  &__text {
    text-transform: uppercase;
    color: #fff;
    display: block;
    text-align: center;
  }

  &__title {
    font-size: 5.5rem;
    letter-spacing: 35px;
    animation: moveInLeft 1s ease-out;
    font-weight: 700;
    @media (max-width: $bp-small) {
      letter-spacing: 20px;
    }
  }

  &__text {
    font-size: 2rem;
    letter-spacing: 15.5px;
    font-weight: 700;
    margin-bottom: 5rem;
    animation: moveInRight 1s ease-out;
    @media (max-width: $bp-small) {
      letter-spacing: 8px;
    }
  }
  &__button {
    animation: moveInBottom 1s ease-out 1s;
    animation-fill-mode: backwards;
    align-self: center;
  }
}
