.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    cursor: pointer;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.15);

    position: fixed;
    top: 6rem;
    right: 6rem;

    z-index: 100;
    transition: all 1s;
  }
  &__bg {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: radial-gradient($color-primary-light, $color-primary-dark);

    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 99;
    transition: transform 0.8s ease-in-out;
  }
  &__checkbox:checked ~ &__bg {
    transform: scale(80);
  }
  &__nav {
    width: 0%;
    height: 100vh;
    font-family: inherit;
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    transition: all 0.6s cubic-bezier(0.76, 0.5, 0.24, 1.45);
  }

  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
  &__list {
    list-style: none;
    transform: translate(-50%, -50%);
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: transform 0.8s ease-in-out;
  }

  &__link {
    &:link,
    &:visited {
      font-size: 3rem;
      font-weight: 300;
      color: $color-white;
      padding: 1rem 2rem;
      display: inline-block;

      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 300%;

      transition: all 0.4s ease-in-out;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(0.75rem);
    }

    span {
      padding-right: 0.5rem;
    }
  }
  &__icon {
    &,
    &::before,
    &::after {
      content: "";
      display: inline-block;
      height: 1.75px;
      width: 3rem;
      background-color: black;
      position: absolute;

      transition: all 0.3s;
    }
    & {
      inset: 0;
      margin: auto;
    }

    &::before {
      top: -0.75rem;
    }
    &::after {
      top: 0.75rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }
  &__checkbox:checked ~ &__button &__icon::after,
  &__checkbox:checked ~ &__button &__icon::before,
  &__button:hover &__icon::before,
  &__button:hover &__icon::after {
    height: 2.25px;
  }

  &__checkbox:checked ~ &__button &__icon::after {
    top: 0;
    transform: rotateZ(225deg);
  }
  &__checkbox:checked ~ &__button &__icon::before {
    top: 0;
    transform: rotateZ(-225deg);
  }
  &__checkbox:checked ~ &__button &__icon {
    background-color: transparent;
  }
}
