.popup {
  position: fixed;
  inset: 0;
  margin: auto;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  height: 75vh;
  width: 80%;
  background-color: $color-white;

  overflow: hidden;
  box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.15);
  border-radius: 3.5px;

  display: flex;
  z-index: 9999;
  transform: scale(0.5);

  transition: all 0.35s 0.1s;

  &__img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    display: block;
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);

    &__container {
      width: calc(100% / 3);
      height: 100%;
    }
  }
  &__content {
    position: relative;
    width: calc(100% * 2 / 3);
    height: 100%;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    gap: 2rem;
    padding: 4rem 5rem;

    p {
      color: $color-grey-dark-2;
      column-count: 2;
      column-rule: 1px solid $color-grey-light-2;
      column-gap: 4rem;
      margin-bottom: 4rem;
    }
  }
  &__iconx {
    cursor: pointer;
    position: absolute;
    top: 3rem;
    right: 3rem;
    color: $color-grey-dark;
    font-size: 1.75rem;

    transition: all 0.35s;
    &:hover {
      color: $color-primary;
    }
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8);
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0.7;
  backdrop-filter: blur(2rem);

  z-index: 99;
}
