.story {
  padding: 15rem 0;
  font-size: 1.5rem;
  position: relative;
  &__box {
    max-width: 85rem;
    margin: 0 auto;
    padding: 6rem;
    background-color: rgba($color-white, $alpha: 0.8);
    transform: skew(-12deg);
    margin-bottom: 10rem;
    > * {
      transform: skew(12deg);
    }
    @media (max-width: $bp-large) {
      max-width: 50rem;
    }
  }
  &__figure {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    shape-outside: circle(50%);
    clip-path: circle(50%);
    position: relative;
    margin-right: 3rem;

    float: left;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.3);

    transition: all 0.5s;
  }
  &__caption {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    opacity: 0;
    width: 8rem;
    line-height: 1;
    text-align: center;

    transition: all 0.6s;
  }
  &__box:hover &__img {
    transform: scale(1);
    filter: blur(2px);
  }
  &__box:hover &__caption {
    opacity: 1;
    top: 50%;
  }
  &__content {
    h3 {
      margin-bottom: 2rem;
    }
    p {
      color: $color-grey-dark-3;
    }
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.12;
  z-index: -55;
  &__content {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
