.tour {
  padding: 25rem 0 10rem 0;
  .container__card {
    background-color: $color-white;
    max-width: 120rem;
    height: 55rem;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6.5rem;
    margin-bottom: 10rem;
  }
}

.card {
  position: relative;
  height: 100%;
  width: 100%;

  perspective: 200rem;
  -moz-perspective: 200rem;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);
    border-radius: 0.5rem;

    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    overflow: hidden;

    transition: all 1.2s ease;

    &--front {
      background-color: $color-white;
    }
    &--back {
      transform: rotateY(-180deg);
      &-1 {
        background-image: linear-gradient(
          to right,
          rgba($color-secondary-light, 1),
          rgba($color-secondary-dark, 1)
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right,
          rgba($color-primary-light, 1),
          rgba($color-primary-dark, 1)
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right,
          rgba($color-tertiary-light, 1),
          rgba($color-tertiary-dark, 1)
        );
      }
    }
  }

  &__picture {
    height: 23rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          rgba($color-secondary-light, 0.9),
          rgba($color-secondary-dark, 0.9)
        ),
        url(../img/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          rgba($color-primary-light, 0.9),
          rgba($color-primary-dark, 0.9)
        ),
        url(../img/nat-6.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          rgba($color-tertiary-light, 0.9),
          rgba($color-tertiary-dark, 0.9)
        ),
        url(../img/nat-7.jpg);
    }
  }
  &__heading {
    font-size: 3rem;
    font-weight: 300;
    width: 70%;
    text-align: right;
    text-transform: uppercase;

    position: absolute;
    top: 10rem;
    right: 2rem;

    &-span {
      color: $color-white;
      padding: 1rem;
      box-decoration-break: clone;
      &--1 {
        background-image: linear-gradient(
          rgba($color-secondary-light, 0.9),
          rgba($color-secondary-dark, 0.9)
        );
      }
      &--2 {
        background-image: linear-gradient(
          rgba($color-primary-light, 0.9),
          rgba($color-primary-dark, 0.9)
        );
      }
      &--3 {
        background-image: linear-gradient(
          rgba($color-tertiary-light, 0.9),
          rgba($color-tertiary-dark, 0.9)
        );
      }
    }
  }
  &__details {
    font-size: 1.75rem;
    width: 75%;
    margin: 0 auto;
    margin-top: 3.5rem;

    text-align: center;
    li {
      list-style: none;
      padding: 1rem;
      color: $color-grey-dark-2;
      &:not(:last-child) {
        border-bottom: 1.5px solid rgba($color: #000000, $alpha: 0.05);
      }
    }
  }

  &__cta {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    color: $color-white;
  }
  &__price {
    &-box {
      text-align: center;
      margin-bottom: 7rem;
    }
    &-only {
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    &-value {
      font-size: 5.5rem;
      font-weight: 200;
    }
  }
  &:hover &__side--front {
    transform: rotateY(180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }
}

@media (max-width: $bp-large) {
  .tour {
    padding: 15rem 0 10rem 0;
    .container__card {
      background-color: $color-white;
      max-width: 120rem;
      height: auto;
      margin: 0 auto;

      margin-bottom: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 5rem;
    }
  }

  .card {
    position: relative;
    height: 100%;
    width: 45rem;
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);

    &__side {
      position: relative;

      width: 100%;

      box-shadow: none;
      border-radius: 0.5rem;

      &--front {
        height: 58rem;
        background-color: $color-white;
        margin-bottom: -4rem;
      }
      &--back {
        transform: rotateY(0deg);
        height: 30rem;
        padding: 9rem 0 6rem 0;
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &__heading {
      font-size: 3rem;
      font-weight: 300;
      width: 70%;
      text-align: right;
      text-transform: uppercase;

      position: absolute;
      top: 10rem;
      right: 2rem;
    }
    &__price {
      &-box {
        margin-bottom: 0rem;
      }
    }
    // &:hover &__side--front {
    //   transform: rotateY(0deg);
    // }
    // &:hover &__side--back {
    //   transform: rotateY(0deg);
    // }
  }
}
