// BUTTON BTN

.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    border-radius: 10rem;
    padding: 1.5rem 4rem;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.6rem;
    position: relative;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
    //
  }
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 1rem 1rem rgba($color: #000000, $alpha: 0.3);
    transform: translateY(-1.5px);
  }

  &--white {
    background-color: #fff;
    color: $color-grey-dark;
    &::after {
      background-color: #fff;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;
    &::after {
      background-color: $color-primary;
    }
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10rem;
    transition: all 0.3s;
  }

  &:hover::after {
    transform: scale(1.5);
    opacity: 0;
  }
}

// .btn--green {
//   background-color: $color-primary;
//   color: #fff;
//   &::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: $color-primary;
//     z-index: -1;
//     border-radius: 10rem;
//     transition: all 0.3s ease-out;
//   }
//   &:hover::after {
//     transform: scale(1.5);
//     opacity: 0;
//   }
// }

.btn--text {
  text-decoration: none;
  color: $color-primary;
  font-size: 1.75rem;
  padding: 0.5rem;
  border-bottom: 1px solid $color-primary;
  display: inline-block;

  transition: all 0.2s;

  &:hover {
    background-color: $color-primary;
    transform: translateY(-3px);
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.1);
    color: #fff;
  }
  &:active {
    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.1);
    transform: translateY(-1px);
  }
}

// Heading
.heading__secondary {
  text-transform: uppercase;
  display: inline-block;
  font-size: 3.25rem;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
  }
}

.heading__tertiary {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #777777;
}

// Margin bottom mg bt utilities
.mb-sm {
  margin-bottom: 1.5rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-big {
  margin-bottom: 7rem;
}

.mt-big {
  margin-top: 10rem;
}

.mt-md {
  margin-top: 5rem;
}

.u-center-text {
  text-align: center;
}

// Animation
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.hiden {
  opacity: 0;
  visibility: hidden;
}
