/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}
@media (max-width: 150em) {
  html {
    font-size: 87.5%;
  }
}
@media (max-width: 150em) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 125em) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 50em) {
  html {
    font-size: 42.5%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}
@media (max-width: 28.5em) {
  html {
    font-size: 35%;
  }
}

body {
  background-color: #fff;
  padding: 3rem;
  font-weight: 400;
  font-family: "lato", sans-serif;
  line-height: 1.7;
}
@media (max-width: 62.5em) {
  body {
    padding: 0;
  }
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  border-radius: 10rem;
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.6rem;
  position: relative;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.btn:active {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
  transform: translateY(-1.5px);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10rem;
  transition: all 0.3s;
}
.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}

.btn--text {
  text-decoration: none;
  color: #55c57a;
  font-size: 1.75rem;
  padding: 0.5rem;
  border-bottom: 1px solid #55c57a;
  display: inline-block;
  transition: all 0.2s;
}
.btn--text:hover {
  background-color: #55c57a;
  transform: translateY(-3px);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  color: #fff;
}
.btn--text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}

.heading__secondary {
  text-transform: uppercase;
  display: inline-block;
  font-size: 3.25rem;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
.heading__secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
}

.heading__tertiary {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #777777;
}

.mb-sm {
  margin-bottom: 1.5rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-big {
  margin-bottom: 7rem;
}

.mt-big {
  margin-top: 10rem;
}

.mt-md {
  margin-top: 5rem;
}

.u-center-text {
  text-align: center;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
.hiden {
  opacity: 0;
  visibility: hidden;
}

.header {
  opacity: 1;
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo {
  height: 3.5rem;
  position: absolute;
  top: 3.5rem;
  left: 3.5rem;
  animation: moveInRight 1s ease-out;
}

.intro {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.intro__title, .intro__text {
  text-transform: uppercase;
  color: #fff;
  display: block;
  text-align: center;
}
.intro__title {
  font-size: 5.5rem;
  letter-spacing: 35px;
  animation: moveInLeft 1s ease-out;
  font-weight: 700;
}
@media (max-width: 37.5em) {
  .intro__title {
    letter-spacing: 20px;
  }
}
.intro__text {
  font-size: 2rem;
  letter-spacing: 15.5px;
  font-weight: 700;
  margin-bottom: 5rem;
  animation: moveInRight 1s ease-out;
}
@media (max-width: 37.5em) {
  .intro__text {
    letter-spacing: 8px;
  }
}
.intro__button {
  animation: moveInBottom 1s ease-out 1s;
  animation-fill-mode: backwards;
  align-self: center;
}

.about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}
.about__box {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 56.25em) {
  .about__box {
    flex-direction: column;
    row-gap: 5rem;
    max-width: 65rem;
  }
}
@media (max-width: 28.5em) {
  .about__box {
    max-width: 55rem;
  }
}
.about__content {
  width: 50%;
}
@media (max-width: 56.25em) {
  .about__content {
    width: 100%;
  }
}
.about__content_text {
  font-size: 1.5rem;
  color: grey;
}
.about__photo__container {
  position: relative;
  width: 50%;
  height: 100%;
}
@media (max-width: 56.25em) {
  .about__photo__container {
    width: 100%;
    height: 15rem;
  }
}
.about__photo {
  height: 17.5rem;
  display: block;
  position: absolute;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s;
}
@media (max-width: 56.25em) {
  .about__photo {
    height: 15rem;
  }
}
.about__photo:hover {
  border-radius: 5px;
  transform: scale(1.15) translateY(-0.5rem);
  outline: 1.5rem solid #55c57a;
  outline-offset: 1.5rem;
  z-index: 5;
}
@media (max-width: 56.25em) {
  .about__photo:hover {
    transform: scale(1.1) translateY(0);
    outline: 1rem solid #55c57a;
    outline-offset: 1rem;
    border-radius: 3px;
  }
}
.about__photo--1 {
  right: 0;
  top: 2rem;
}
.about__photo--2 {
  left: 2rem;
  top: -2rem;
}
@media (max-width: 56.25em) {
  .about__photo--2 {
    left: 0;
    top: 2rem;
  }
}
.about__photo--3 {
  right: 15rem;
  top: 10rem;
}
@media (max-width: 56.25em) {
  .about__photo--3 {
    top: 0;
    left: 21rem;
  }
}
@media (max-width: 28.5em) {
  .about__photo--3 {
    left: 16rem;
  }
}
.about__photo__container:hover .about__photo:not(:hover) {
  transform: scale(0.95);
}

.feature {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-position: center;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
.feature__container {
  transform: skewY(7deg);
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  gap: 5rem;
}
@media (max-width: 62.5em) {
  .feature__container {
    flex-direction: column;
    align-items: center;
    row-gap: 8rem;
  }
}
.feature__box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  opacity: 0.8;
  padding: 2.5rem;
  align-items: center;
  transition: all 0.25s;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
@media (max-width: 62.5em) {
  .feature__box {
    width: 50rem;
  }
}
.feature__box:hover {
  transform: translateY(-1rem) scale(1.05);
}
.feature__icon {
  font-size: 7rem;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.feature__text {
  font-size: 1.5rem;
  text-align: center;
  color: #777;
}

.tour {
  padding: 25rem 0 10rem 0;
}
.tour .container__card {
  background-color: #fff;
  max-width: 120rem;
  height: 55rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6.5rem;
  margin-bottom: 10rem;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  perspective: 200rem;
  -moz-perspective: 200rem;
}
.card__side {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  overflow: hidden;
  transition: all 1.2s ease;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(-180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
}
.card__side--back-3 {
  background-image: linear-gradient(to right, #2998ff, #5643fa);
}
.card__picture {
  height: 23rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: linear-gradient(rgba(255, 185, 0, 0.9), rgba(255, 119, 48, 0.9)), url(../img/nat-5.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(rgba(126, 213, 111, 0.9), rgba(40, 180, 133, 0.9)), url(../img/nat-6.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(rgba(41, 152, 255, 0.9), rgba(86, 67, 250, 0.9)), url(../img/nat-7.jpg);
}
.card__heading {
  font-size: 3rem;
  font-weight: 300;
  width: 70%;
  text-align: right;
  text-transform: uppercase;
  position: absolute;
  top: 10rem;
  right: 2rem;
}
.card__heading-span {
  color: #fff;
  padding: 1rem;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(rgba(255, 185, 0, 0.9), rgba(255, 119, 48, 0.9));
}
.card__heading-span--2 {
  background-image: linear-gradient(rgba(126, 213, 111, 0.9), rgba(40, 180, 133, 0.9));
}
.card__heading-span--3 {
  background-image: linear-gradient(rgba(41, 152, 255, 0.9), rgba(86, 67, 250, 0.9));
}
.card__details {
  font-size: 1.75rem;
  width: 75%;
  margin: 0 auto;
  margin-top: 3.5rem;
  text-align: center;
}
.card__details li {
  list-style: none;
  padding: 1rem;
  color: #999;
}
.card__details li:not(:last-child) {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.05);
}
.card__cta {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: #fff;
}
.card__price-box {
  text-align: center;
  margin-bottom: 7rem;
}
.card__price-only {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 5.5rem;
  font-weight: 200;
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}

@media (max-width: 56.25em) {
  .tour {
    padding: 15rem 0 10rem 0;
  }
  .tour .container__card {
    background-color: #fff;
    max-width: 120rem;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
  }
  .card {
    position: relative;
    height: 100%;
    width: 45rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  }
  .card__side {
    position: relative;
    width: 100%;
    box-shadow: none;
    border-radius: 0.5rem;
  }
  .card__side--front {
    height: 58rem;
    background-color: #fff;
    margin-bottom: -4rem;
  }
  .card__side--back {
    transform: rotateY(0deg);
    height: 30rem;
    padding: 9rem 0 6rem 0;
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card__heading {
    font-size: 3rem;
    font-weight: 300;
    width: 70%;
    text-align: right;
    text-transform: uppercase;
    position: absolute;
    top: 10rem;
    right: 2rem;
  }
  .card__price-box {
    margin-bottom: 0rem;
  }
}
.story {
  padding: 15rem 0;
  font-size: 1.5rem;
  position: relative;
}
.story__box {
  max-width: 85rem;
  margin: 0 auto;
  padding: 6rem;
  background-color: rgba(255, 255, 255, 0.8);
  transform: skew(-12deg);
  margin-bottom: 10rem;
}
.story__box > * {
  transform: skew(12deg);
}
@media (max-width: 56.25em) {
  .story__box {
    max-width: 50rem;
  }
}
.story__figure {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  shape-outside: circle(50%);
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  position: relative;
  margin-right: 3rem;
  float: left;
}
.story__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.3);
  transition: all 0.5s;
}
.story__caption {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  opacity: 0;
  width: 8rem;
  line-height: 1;
  text-align: center;
  transition: all 0.6s;
}
.story__box:hover .story__img {
  transform: scale(1);
  filter: blur(2px);
}
.story__box:hover .story__caption {
  opacity: 1;
  top: 50%;
}
.story__content h3 {
  margin-bottom: 2rem;
}
.story__content p {
  color: #333;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.12;
  z-index: -55;
}
.bg-video__content {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.booking__section {
  padding: 15rem 0 15rem 0;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
}
.booking__box {
  max-width: 115rem;
  margin: 0 auto;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 55%, transparent 55%), url(../img/nat-10.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 62.5em) {
  .booking__box {
    max-width: 100rem;
  }
}
@media (max-width: 56.25em) {
  .booking__box {
    max-width: 60rem;
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 55%, rgba(255, 255, 255, 0.9) 55%), url(../img/nat-10.jpg);
  }
}

.book {
  width: 50%;
  height: 100%;
  padding: 6rem;
}
@media (max-width: 56.25em) {
  .book {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.book__form {
  margin-top: 4rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.book__form__group--size {
  display: flex;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 1.25rem;
  flex-wrap: wrap;
}
@media (max-width: 56.25em) {
  .book__form__group--size {
    flex-direction: column;
    row-gap: 2rem;
  }
}
.book__form--input {
  display: block;
  width: 100%;
  padding: 1.5rem;
  border: none;
  border-bottom: 3px solid transparent;
  transition: all 0.35s;
}
.book__form--input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
}
.book__form--input:invalid {
  border-bottom: 3px solid #ff7730;
}
.book__form__radio--group {
  display: inline-block;
}
.book__form__radio--input {
  display: none;
}
.book__form__radio--label {
  cursor: pointer;
  padding: 0 0 0 4rem;
  font-size: 1.5rem;
  position: relative;
}
.book__form__radio--btn {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid #55c57a;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.book__form__radio--btn::before {
  content: "";
  display: inherit;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-color: #55c57a;
  position: absolute;
  inset: 0;
  margin: auto;
  opacity: 0;
  transition: all 0.3s;
}
.book__form__radio--input:checked ~ .book__form__radio--label .book__form__radio--btn::before {
  opacity: 1;
}
.book__form--label {
  display: block;
  width: calc(100% - 1.5rem);
  margin-left: 1.5rem;
  margin-top: 0.8rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: #333;
  opacity: 1;
  visibility: visible;
  transition: all 0.35s;
}
.book__form--input:-moz-placeholder-shown ~ .book__form--label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4.25rem);
}
.book__form--input:placeholder-shown ~ .book__form--label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4.25rem);
}

.footer {
  color: #f7f7f7;
  padding: 10rem 0;
  background-color: #333;
  text-align: center;
}
.footer__logo {
  margin-bottom: 10rem;
}
.footer__content {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 62.5em) {
  .footer__content {
    flex-direction: column;
    max-width: 70rem;
    row-gap: 3rem;
  }
}
.footer__left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 40%;
}
@media (max-width: 62.5em) {
  .footer__left {
    width: 100%;
    justify-content: center;
  }
}
.footer__navigation {
  grid-column: 1/2;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  padding-top: 1.25rem;
  border-top: 1px solid rgba(247, 247, 247, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.footer__item {
  list-style: none;
  display: inline-block;
}
.footer__link, .footer__name {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 400;
  display: inline-block;
  transition: all 0.35s;
  text-transform: uppercase;
}
.footer__link:hover, .footer__name:hover {
  color: #55c57a;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  transform: rotate(5deg) scale(1.3);
}
.footer__name {
  padding: 0;
}
.footer__description {
  grid-column: 3/4;
  padding-top: 1.25rem;
  text-align: left;
  font-size: 1.5rem;
  border-top: 1px solid rgba(247, 247, 247, 0.5);
  width: 40%;
}
@media (max-width: 62.5em) {
  .footer__description {
    text-align: center;
    width: 100%;
  }
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  cursor: pointer;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 100;
  transition: all 1s;
}
.navigation__bg {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background: radial-gradient(#7ed56f, #28b485);
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 99;
  transition: transform 0.8s ease-in-out;
}
.navigation__checkbox:checked ~ .navigation__bg {
  transform: scale(80);
}
.navigation__nav {
  width: 0%;
  height: 100vh;
  font-family: inherit;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: all 0.6s cubic-bezier(0.76, 0.5, 0.24, 1.45);
}
.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
  visibility: visible;
}
.navigation__list {
  list-style: none;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: transform 0.8s ease-in-out;
}
.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  padding: 1rem 2rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 300%;
  transition: all 0.4s ease-in-out;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(0.75rem);
}
.navigation__link span {
  padding-right: 0.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  content: "";
  display: inline-block;
  height: 1.75px;
  width: 3rem;
  background-color: black;
  position: absolute;
  transition: all 0.3s;
}
.navigation__icon {
  inset: 0;
  margin: auto;
}
.navigation__icon::before {
  top: -0.75rem;
}
.navigation__icon::after {
  top: 0.75rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after, .navigation__checkbox:checked ~ .navigation__button .navigation__icon::before, .navigation__button:hover .navigation__icon::before, .navigation__button:hover .navigation__icon::after {
  height: 2.25px;
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotateZ(225deg);
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotateZ(-225deg);
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent;
}

.popup {
  position: fixed;
  inset: 0;
  margin: auto;
  height: 75vh;
  width: 80%;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 3.5px;
  display: flex;
  z-index: 9999;
  transform: scale(0.5);
  transition: all 0.35s 0.1s;
}
.popup__img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
}
.popup__img__container {
  width: 33.3333333333%;
  height: 100%;
}
.popup__content {
  position: relative;
  width: 66.6666666667%;
  height: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 5rem;
}
.popup__content p {
  color: #999;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-rule: 1px solid #eee;
       column-rule: 1px solid #eee;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  margin-bottom: 4rem;
}
.popup__iconx {
  cursor: pointer;
  position: absolute;
  top: 3rem;
  right: 3rem;
  color: #777;
  font-size: 1.75rem;
  transition: all 0.35s;
}
.popup__iconx:hover {
  color: #55c57a;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.7;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  z-index: 99;
}

.section {
  transition: all 0.5s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  z-index: 9999;
  box-sizing: border-box;
  transition: all 1s;
}

.slider__container {
  z-index: 9999;
  position: fixed;
  inset: 0;
  margin: auto;
  width: 60%;
  height: 80vh;
  display: grid;
  place-items: center;
  transition: all 0.35s 0.1s;
}

@media screen and (max-width: 800px) {
  .slider__container {
    width: 90%;
  }
}
.element--hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.75);
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s;
}

.img__slide {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img__numb {
  font-size: 3rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: orange;
  display: inline-block;
  background-color: #fff;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.icon__slide {
  color: #222;
  font-size: 2rem;
}

.slide__button {
  cursor: pointer;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  opacity: 0.65;
}

.slide__button--right {
  right: 2rem;
}

.slide__button--left {
  left: 2rem;
}

.dots__container {
  position: absolute;
  bottom: 7.5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
  display: flex;
  gap: 2rem;
}

.dot__child {
  border: none;
  cursor: pointer;
  border: none;
  width: 1rem;
  height: 1rem;
  background-color: #787878;
  border-radius: 50%;
  transition: all 0.5s;
}
.dot__child:focus {
  outline: none;
}

.dot__child--active {
  background-color: #fff;
}/*# sourceMappingURL=main.css.map */